.about {
    width: 100%;
    height: 100%;

    padding-top: 10rem;
    padding-bottom: 10rem;
    .about__image {
        place-items: center;

        width: 100%;

        & img {
            border-radius: 2rem;

            opacity: 1;
            position: relative;

            -webkit-filter: hue-rotate(25deg);
            -webkit-filter: saturate(70%);

            opacity: .9;

        }

        

    }

    h4 {
        text-align: center;

        font-size: 4rem;

        padding: 8rem 0;
        padding-bottom: 4rem;
    }

    .about__grid {
        grid-template-columns: 1fr 1fr;

        font-size: 1.3rem;

        padding: 2rem 10rem;
        gap: 2rem;

        p {
            margin: 1rem 0;
        }
    }   
}