.product__card {
    width: 100%;

    font-family: var(--product-fnt);
    
    position: relative;

    & img {
        border-radius: 2rem;
    }

    &:hover .overlay{
        opacity: 1;
    }

    .overlay {
        width: 100%;
        height: max-content;

        padding: 0 1rem;
        bottom: 6rem;

        transition: opacity .2s ease-out;
    
        opacity: 0;

        z-index: 400;
        
        .add__to__bag { 

            justify-self: center;
            justify-content: space-between;
            width: 100%;
            height: max-content;
    
            padding: .5rem 1rem;
    
            border-radius: 2rem;
    
            background-color: var(--fnt-clr);
            color: var(--bg-clr);
    
            font-size: 1.1rem;

            transition: scale .2s ease-out;

            &:hover {
                scale: 1.025;
            }
        }
    }
    

}

.product__details {
    flex-direction: column;

    font-size: 1.2rem;
    font-weight: 450;

    padding: 0 .5rem;

    padding-top: .5rem;

    .category {
        font-size: 1rem;
        width: max-content;
        padding: .3rem 1rem;

        border: 1px solid var(--fnt-clr);
        border-radius: 3rem;
    }
}