.home {
  width: 100%;
  height: 100%;

  section {
    height: 100vh;
    // border-bottom: 1px solid;
  }
  .Banner {
    position: block;
    color: white;
    .banner-con {
      position: relative;
      .banner-image {
        filter: brightness(60%);
      }
      .banner-text {
        position: absolute;
        bottom: 150px;
        left: 70px;

        h3 {
          font-size: 90px;
          font-weight: 800;
        }
        p {
          font-size: 25px;
          font-weight: bolder;
        }
        .btn {
          background-color: var(--fnt-clr);
          color: whitesmoke;
          height: 60px;
          width: 200px;
          font-size: 20px;

          border-radius: 50px;
        }
      }
    }
  }

  .offer {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding: 50px;
    .offer-box {
      border: 5px solid #60370e;
      padding: 10px;
      .text-offer {
        color: var(--fnt-clr);

        h4 {
          margin-top: 50px;
          font-size: 30px;
          font-weight: bolder;
        }
        p {
          margin-top: 30px;
          font-size: 20px;
        }
      }
      .products {
        margin-top: 50px;
        .bread {
          object-fit: contain;
          width: 300px;
          height: 300px;
        }
        .pastry {
          object-fit: cover;
          width: 200px;
          height: 200px;
        }
        .sanwhich {
          object-fit: cover;
          width: 200px;
          height: 200px;
        }
        .utensil {
          object-fit: cover;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  //
  .how {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;

      .how-content {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
        .sign-up {
          border: 2px dashed var(--fnt-clr);
          border-radius: 100%;
          padding: 30px;
          text-align: center;
          height: 300px;
          width: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h5 {
            font-weight: 900;
            font-size: 30px;
          }
        }
        .how-shop {
          border: 2px dashed var(--fnt-clr);
          border-radius: 100%;
          padding: 30px;
          text-align: center;
          height: 300px;
          width: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h5 {
            font-weight: 900;
            font-size: 30px;
          }
        }
        .go {
          border: 2px dashed var(--fnt-clr);
          border-radius: 100%;
          padding: 30px;
          text-align: center;
          height: 300px;
          width: 300px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h5 {
            font-weight: 900;
            font-size: 30px;
          }
        }
      }
      .how-title {
        h4 {
          font-weight: bolder;
          font-size: 30px;
        }
      }
    }
  }

  .home-workshop {
    display: flex;
    flex-direction: column;

    .hw-contact {
      text-align: center;
      h3 {
        font-weight: bolder;
      }
    }
    .ws-images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 90px;
      gap: 100px;
      .center-image {
        p {
          text-align: center;
        }
      }
      .left-image {
        object-fit: cover;
        width: 500px;
        height: 500px;
      }
      .right-image {
        object-fit: cover;
        width: 500px;
        height: 500px;
      }
    }
  }
}
