.header {
    width: 100%;
    height: max-content;

    background-color: var(--bg-clr);

    top: 0;
    left: 0;

    z-index: 500;

    .header__container {
        width: 100%;

        align-items: center;
        justify-content: space-between;

        font-size: 1.2rem;
        font-weight: 500;

        padding: 1rem 2rem;

        .logo__container {
            place-items: center;
            
            h1 {
                font-size: 2.7rem;
                font-weight: 800;   

                letter-spacing: -2px;
        
                text-transform: lowercase;

                position: relative;

                &::after {
                    content: "\000AE";

                    position: absolute;
                    top: 15%;
                    left: 100%;

                    width: 100%;
                    height: 100%;

                    font-size: 12px;
                }
            }
        }

        .nav__item {
            font-size: 1.3rem;
            font-weight: 600;

            margin: 0 2rem;
        } 

        .bag__btn {
            font-size: 1.3rem;
            font-weight: 600;

            .bag__qty {
                font-weight: 400;
                color: var(--qty-clr);
            }
        }
    }
}

.activeNav {
    opacity: .75;
}