.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-form {

    justify-content: center;
    text-align: center;
  }
  h4 {
    color: var(--fnt-clr);
    font-size: 50px;
  }
  .login-btn {
    cursor: pointer;
    margin-top: 3rem;
    width: 40rem;
    height: 4rem;
    font-size: 30px;
    background-color: var(--fnt-clr);
    color: var(--bg-clr);
    border: none;
  }
  .link {
  
    margin-top: 20px;

    .create {
      align-items: center;
      flex-direction: column;
      text-align: center;
      display: flex;
      text-align: center;

      button {
        text-align: center;
        width: max-content;
        
      }
    }

  }
}

.form-control::placeholder {
  text-align: center;
  font-size: 1.7rem;
}

label {
  text-align: center;
}
.email {
  padding: .1rem 1rem;
  width: 40rem;
  height: 2rem;
  margin-top: 50px;
  border: none;
  background: none;
  border-bottom: 1px solid var(--fnt-clr);
  display: flex;
}
.password {
  padding: .1rem 1rem;
  width: 40rem;
  height: 2rem;
  border: none;
  background: none;
  margin-top: 30px;
  border-bottom: 1px solid var(--fnt-clr);

}